:root {
    --sideNum: 16;
}

body {
    background: red;
    margin: 0;
}

#container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(var(--sideNum), 1fr);
    grid-template-rows: repeat(var(--sideNum), 1fr);
    background: rgb(226, 223, 223)
}

.squareDiv {
    height: 100%;
    width: 100%;
}

.trail {
    background: rgb(92, 91, 91)
}

#header {
    color: goldenrod;
    font-style: bold;
    font-size: 50px;
    padding-left: 110px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#etch {
    font-family: 
}

#magic-screen {

}