body {
    background: red;
    margin: 0;
}


#header {
    
}

#container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background: rgb(226, 223, 223)
}

.squareDiv {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.trail {
    background: rgb(92, 91, 91)
}